<template>
  <div id="app">
    <b-form class="p-5" @change="formChanged">
      <div class="row">
        <div class="col-2">
          <b-button @click="newPresence" block variant="dark" class="px-0">+</b-button>
        </div>
        <div class="col px-0">
          <b-form-group id="exampleInputGroup3">
            <b-form-select
              id="whatever"
              :options="selectOptions"
              required
              v-model="selectedPresence"
            />
          </b-form-group>
        </div>
        <div class="col-4">
          <b-button @click="setAsPresence" block variant="dark" class="mb-3">Set as Presence</b-button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <b-form-group id="exampleInputGroup1" label="Name:" label-for="exampleInput1">
            <b-form-input id="exampleInput1" type="text" v-model="currentPresence.name" required/>
          </b-form-group>
        </div>
        <div class="col">
          <b-form-group id="exampleInputGroup1" label="App ID:" label-for="exampleInput1">
            <b-form-input
              id="exampleInput1"
              type="text"
              v-model="currentPresence.clientId"
              required
            />
          </b-form-group>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <b-form-group id="exampleInputGroup1" label="Details:" label-for="exampleInput1">
            <b-form-input
              id="exampleInput1"
              type="text"
              v-model="currentPresence.details"
              required
            />
          </b-form-group>
        </div>
        <div class="col">
          <b-form-group id="exampleInputGroup1" label="State:" label-for="exampleInput1">
            <b-form-input id="exampleInput1" type="text" v-model="currentPresence.state" required/>
          </b-form-group>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <b-form-group id="exampleInputGroup1" label="Small Image Key:" label-for="exampleInput1">
            <b-form-input
              id="exampleInput1"
              type="text"
              v-model="currentPresence.smallImageKey"
              required
            />
          </b-form-group>
        </div>
        <div class="col">
          <b-form-group id="exampleInputGroup1" label="Small Image Text:" label-for="exampleInput1">
            <b-form-input
              id="exampleInput1"
              type="text"
              v-model="currentPresence.smallImageText"
              required
            />
          </b-form-group>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <b-form-group id="exampleInputGroup1" label="Large Image Key:" label-for="exampleInput1">
            <b-form-input
              id="exampleInput1"
              type="text"
              v-model="currentPresence.largeImageKey"
              required
            />
          </b-form-group>
        </div>
        <div class="col">
          <b-form-group id="exampleInputGroup1" label="Large Image Text:" label-for="exampleInput1">
            <b-form-input
              id="exampleInput1"
              type="text"
              v-model="currentPresence.largeImageText"
              required
            />
          </b-form-group>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <b-form-group
            id="exampleInputGroup1"
            label="Current Party Size:"
            label-for="exampleInput1"
          >
            <b-form-input
              id="exampleInput1"
              type="text"
              v-model="currentPresence.partySize"
              required
            />
          </b-form-group>
        </div>
        <div class="col">
          <b-form-group id="exampleInputGroup1" label="Max Party Size:" label-for="exampleInput1">
            <b-form-input
              id="exampleInput1"
              type="text"
              v-model="currentPresence.partyMax"
              required
            />
          </b-form-group>
        </div>
      </div>
      <b-form-group id="exampleInputGroup1">
        <b-form-checkbox switch v-model="currentPresence.timestamp">Display play time</b-form-checkbox>
        <b-form-checkbox switch v-model="currentPresence.partyId">Party ID</b-form-checkbox>
        <b-form-checkbox switch v-model="currentPresence.joinSecret">Display "Join" button</b-form-checkbox>
        <b-form-checkbox switch v-model="currentPresence.spectateSecret">Display "Spectate" button</b-form-checkbox>
      </b-form-group>
    </b-form>
  </div>
</template>

<script>
import { ipcRenderer } from "electron";

export default {
  name: "discord-ui-vue",
  computed: {
    currentPresence() {
      return (
        this.presences.find(
          presence => presence._id === this.selectedPresence
        ) || {}
      );
    },
    selectOptions() {
      return this.presences.map(presence => ({
        text: presence.name,
        value: presence._id
      }));
    }
  },
  data() {
    return {
      presences: [],
      selectedPresence: ""
    };
  },
  mounted() {
    this.presences = ipcRenderer.sendSync("get-presences-list");
    this.selectedPresence = this.presences[0]._id;
  },
  methods: {
    setAsPresence() {
      ipcRenderer.send("set-presence-id", this.currentPresence);
    },
    formChanged() {
      ipcRenderer.send("update-presences", this.presences);
    },
    newPresence() {
      let newPresenceId = ipcRenderer.sendSync("get-new-id");

      this.presences.push({
        _id: newPresenceId,
        name: "New Presence"
      });

      this.selectedPresence = newPresenceId;
    }
  }
};
</script>

<style>
/* CSS */
#app {
  background: #0e111a;
  color: #fff;
  min-height: 100vh;
}
</style>
